
/* text */
.text-spacing-1{  line-height: $line-height-base;}
.text-spacing-15{  line-height: $line-height-base*1.5;}
.text-spacing-125{  line-height: $line-height-base*1.25;}
.text-spacing-0{  line-height: $line-height-base * 0.75;}
.text-spacing-05{  line-height: $line-height-base * 0.5;}

.letter-spacing-12{  letter-spacing: 1.2px;}
.letter-spacing-15{  letter-spacing: 1.5px;}
